---
import '../styles/global.css'
---
  <footer class="mt-10 border-t">
    <div class="mx-auto max-w-4xl px-6 py-6 text-sm text-center">
      <p>&copy; 2025 Sugimoto Shintaro</p>
    </div>
  </footer>
