---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

import '../styles/global.css'
---

<html lang="ja">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/image.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark" />
    <title>{Astro.props?.pageTitle ? `${Astro.props.pageTitle} | sugimoto` : 'Blog | sugimoto'}</title>
</head>
<body class="bg-gray-900 text-gray-100 antialiased min-h-screen">
  <div class="root flex min-h-screen flex-col">
    <Header />
    <main class="flex-1 py-12">
        <div class="container mx-auto max-w-4xl px-4">
            <slot />
        </div>
    </main>
    <Footer />
  </div>
</body>
</html>
