---
import BlogLayout from "../layouts/BlogLayout.astro";


import '../styles/global.css'
import { getBlogs } from "../library/microcms";
const response = await getBlogs({ fields: ["id", "title"]});

---

<BlogLayout pageTitle={pageTitle}>
    <article class="max-w-3xl mx-auto">
        <ul>
            {
                response.contents.map((content: any) => (
                        <li>
                            <a href={content.id}>{content.title}</a>
                        </li>
                ))
            }
        </ul>
    </article>
</BlogLayout>
