---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogImageURL = new URL("/img/ogp.png", Astro.site);
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/public/icon6.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark" />
    <meta
      property="og:url"
      content="https://https://sugimoto-blyukher.github.io/"
    />
    <meta property="og:title" content="sugimoto" />
    <meta property="og:description" content="sugimotoのサイト" />
    <meta property="og:image" content="image.jpg" />
    <link rel="canonical" href={canonicalURL} />
    <meta property="og:image" content={ogImageURL} />
    <!-- https://evoworx.dev/img/ogp.png -->

    <title>sugimoto</title>
  </head>

  <body class="bg-gray-900 text-gray-100 antialiased">
    <Header />
    <main class="py-16">
      <div class="container mx-auto max-w-6xl px-4">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
