---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import '../styles/global.css'

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-90EQR2SENQ"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-90EQR2SENQ');
</script>


---

<html lang="ja">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpg" href="/image.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta  name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark" />
    <title>sugimoto</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-53BQ5B9D');</script>
    <!-- End Google Tag Manager -->
</head>



<body class="bg-gray-900 text-gray-100 antialiased">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53BQ5B9D"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <main class="py-16">
        <div class="container mx-auto max-w-6xl px-4">
            <slot />
        </div>
    </main>
    <Footer />
</body>
</html>
